.topBar{
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
    color:#fff;
}
.headerIcon{
    font-size: 30px;
    color: #1591A3;
}

.headerWrap{
position: relative;
 height:150px;
 padding:20px 0;
}
.menubarWrap{
    background: #1591A3;
    color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    bottom: -15px;
    z-index: 9999;
    height: 65px;



}