.investmentCardWrap {
  width: 800px;
  height: 500%;
  background-repeat: none;
  background-size: cover;
}
.investmentContent {
  background: #1591a3;
  width: 400px;
  padding: 50px 30px;
  color: #fff;
  opacity: 0.9;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}



/* General styles for Tabs */
.tabContainer {
  width: 100%;
  typography: "body1";
}

.verticalTabs {
  display: flex;
  flex-direction: column;
  width: 100%; /* Adjust width as necessary */
}

.horizontalTabs {
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents tabs from wrapping */
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  .verticalTabs {
    display: none; /* Hide vertical tabs */
  }

  .horizontalTabs {
    display: flex; /* Show horizontal tabs */
    flex-direction: row; /* Align tabs in a row */
  }
}



@media only screen and (max-width: 1024px) {
  .investmentCardWrap, .investmentContent{
    width:100%;
  }
}
