
.aboutWraps{
    background-image: url(../../../assets/banner/about.jpg);
    width:100%;
    
}

.workingCard {
    width: 400px;
    height: 300px;
    background: #f9fbfd;
    border: 1px solid #ebeffc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    text-align: center;
    transition: all 0.5s cubic-bezier(0.48, 0.46, 0.6, 0.57);
}
.workingCard:hover{
    background:#fff;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media only screen and (max-width:1024px){
    .workingCard {
        width: 100%;
    }
}