.brandImgWraps {
  width: 600px;
}

.brandImgWraps img {
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1024px) {
  .brandImgWraps {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .brandImgWraps {
    width: 100%;
}
}
@media only screen and (max-width: 500px) {
  .brandWraps {
    margin-top: -100px;
  }
}
