.serviceDetailsWrap {
  width: 100%;
  height: 350px;
  background-image: url(../../../assets/images/serviceBanner.jpg);
  position: relative;
}
.serviceDetailsWrap::after {
  position: absolute;
  top: 0;
  content: "";
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
  opacity: 0.4;
}
.serviceContent {
  position: absolute;
  z-index: 2;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.serviceImgWrap {
  width: 370px;
  height: 400px;
}
.serviceImgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev, .swiper-button-next {
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .swiper-button-prev:after, .swiper-button-next:after {

    font-size: 20px !important;
}