.clientWraps {
  width: 100%;
  padding: 80px 0;
  background: #eaeff2;
}

.clientCard {
  background: #fff;
  padding: 23px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  width: 630px;
  height: 166px;
  background-image: url(../../../../assets/banner/clientbanner.png);
  transition: all 0.5s cubic-bezier(0.48, 0.46, 0.6, 0.57);
  top: 0px;
}

.clientCard:hover {
  top: -30px;
}

.clientWrap {
  left: 30%;
  position: absolute;
  bottom: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clientImgWraps {
  width: 100px;
  height: 100px;
  box-shadow: 0 5px 15px #00000059;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientImgWraps img {
  border-radius: 100%;
  width: 80%;
  height: 80%;
}

.quoteWrap {
  position: absolute;
  top: -22px;
  rotate: 183deg;
}

.clientSlider {
  height: 400px;
}



.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background-color: #1591a3 !important;
  margin: 0 5px;

}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #00305c !important;
}

.clientIcon {
  font-size: 70px !important;
}

@media only screen and (max-width: 1024px) {
  .clientWrap {
    bottom: -126px;
  }
}

@media only screen and (max-width: 768px) {
  .clientCard {
    margin: 50px auto;
  }

  .clientWrap {
    bottom: -126px;
    left: 39%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 851px) {
  .clientWrap {
    bottom: -126px;
    left: 20%;
  }
}

@media only screen and (max-width: 500px) {
  .clientCard {
    width: 100%;
    margin: 50px auto;
  }

  .clientSlider {
    height: 435px;
  }


  .clientCard {
    width: 100%;
    height: 204px;
  }

  .clientWraps {
    padding: 19px 0;
  }

  .clientWrap {
    bottom: -126px;
    left: 20%;
  }

}

@media only screen and (max-width: 375px) {
  .clientWrap {
    bottom: -87px;
    left: 17%;
  }

  .clientCard {
    height: 226px;
  }


  .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;

  }

  .clientSlider {
    height: 415px;
  }

}

@media only screen and (max-width: 300px) {
  .clientContent p {
    font-size: 13px;
  }

  .clientImgWraps {
    width: 80px;
    height: 80px;
  }

  .clientWrap {
    bottom: -95px;
    left: 32%;
  }

  .swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
  }
}